/*
color: blue; config color
font-size: 25px;  config tamaño de la fuente
font-weight: bold; config grosor de la fuente
background-color: green config color del fondo
. para las clases
# para los ids
font-family: Arial, Helvetica; config fuente del texto
los border reciben varias propiedades
border: 1px solid black
*/